<!DOCTYPE html>
<html lang="en">

<head>
    {{>headLinks}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" name="cityName" id="cityName" placeholder="enter your city name"
                            autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">Tuesday</p>
                        <p id="today_date">20feb</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Output here:</p>
                        <div class="middle_layer data_hide">
                            <p id="temp">
                                <span id="temp_real_val">
                                    0
                                </span>
                                <sup>
                                    o
                                </sup>
                                C
                            </p>
                            <p id="temp_status">
                                <i class="fa fa-cloud" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

    <script src="js/main.js"></script>
    <script>
        const getCurrentDay = () => {
            let weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thrusday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";

            let currentTime = new Date();
            days = weekday[currentTime.getDay()];
            let day = document.getElementById('day');

            day.innerText = days;
        }

        getCurrentDay();
    </script>

    <script>
        const getCurrentTime = () =>{
            let months = [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec",
            ];

            let now = new Date();
            let hours = now.getHours();
            let min = now.getMinutes();

            let month = months[now.getMonth()];
            let date = now.getDate();

            let todayDate = document.getElementById('today_date');

            let period = "am";
            if(hours > 11){
                period = "pm";
                if(hours>12) hours -= 12;
            }
            if(min < 60){
                min = "0" + min;
            }

            todayDate.innerText = `${date} ${month} `;

        }

        getCurrentTime();
    </script>

    {{!-- return ` ${month} ${date} | ${hours}:${min}${period} ` --}}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>